<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company</title>

    

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Materialize icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Jquery-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!--Manual javascript-->
    <script src="/javascripts/cart.js"></script>



    <style>
        .root {
            width: 100%;
            height: auto;
            display: flex;
            background-color: #ecf0f1;
            justify-content: center;
        }

        .subdiv {
            width: 1000px;
            padding: 15px;
            height: auto;
            background-color: #FFFFFF;
            font-family: 'Times New Roman', Times, serif;
            border-radius: 5px;
            margin-top: 50px;

        }

        .firstrow{
            display:flex;
        }

        .firstcol
        {
            font-size:25px;
        }

        .tbody{
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
        }

        .aside{
            width:600px;
        }

        .secondrow{
            display:flex;
            justify-content: right;
            margin-bottom: 0px;
        }

        .secondcol
        {
            font-size:20px;
            height: 650px;
        }

        .fieldset
        {
            border-radius: 5px;
        }

        .inputrow1
        {
            margin-top: 15px;
        }

        .next
        {
            font-family:Arial, Helvetica, sans-serif ;
        }

        .card
        {
            height:auto;
            border-radius:5px;
        }
        .cname
        {
            height: 50px;
            background:#dfe6e9;
            margin-top: 15px;
            border-radius: 5px 5px 0px 0px;
            display: flex;
            justify-content: left;
            align-items: center;
            font-size: 25px;
            padding: 10px;
            color:blue
        }
        .cardrow
        {
            display:flex;
            justify-content:left;
            align-items: center;
            padding: 15px;
            font-size: 20px;
        }

        .over
        {
            height: 30px;
            background:#dfe6e9;
            margin-top: 15px;
            border-radius: 0px 0px 5px 5px;
            display: flex;
            justify-content: left;
            align-items: center;
            font-size: 18px;
            padding: 10px;
            color:blue
        }

    </style>
</head>
<body>
    


    

    <div class="root">
        <div class="subdiv">
            <div class="row firstrow">
                <div class="col s12 firstcol">
                    <div id="entry" style="display:flex; justify-content:center;">
                       <b> My Cart </b>
                    </div>
                    <hr>
                <div style="margin-top:20px">
                    <table>
                        <tbody id="tbody" class="tbody">
                            
                        </tbody>
                    </table>
                </div>
                </div>
                <aside class="aside">
                    <div class="row secondrow">
                        <div class="col s12 secondcol">
                            <fieldset class="fieldset">

                                <div class="fieldset">
                                   <b>Payment Details</b>
                                </div>
                                <div class="row inputrow1">
                                    <div class="col s12">
                                        <table style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="row">
                                                            <div class="col s6">
                                                                <b>COD</b>
                                                            </div>
                                                            <div style="color: green;" class="col s6 mrp">    
                                                                Available
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="row">
                                                            <div class="col s6">
                                                                <b>Delievry Charge</b>
                                                            </div>
                                                            <div class="col s6 mrp">    
                                                                Rs.50
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="row">
                                                            <div class="col s6">
                                                                <b>Total</b>
                                                            </div>
                                                            <div class="col s6" id="bill">    
                                                                 
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </aside>



            </div>
        </div>
</body>



<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</html>