<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Category</title>
</head>
<style>
    body{
        background-color: #ecf0f1;
    }
    .root{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .base{
        width:600px;
        height: 220px;
        background-color:#192a56;
        border-radius: 2px;
        margin-top: 150px;
        padding: 25px;
        font-family: 'Times New Roman', Times, serif;
        color:white;
    }
    .gap{
    margin-bottom:10px;
    width: 100%;
    }
    
a:visited {
  color:white;
  background-color: transparent;
  text-decoration: none;
  width: 30px;

}
</style>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
       
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/category/categoryinterface">Category <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/category/subcategoryinterface">Subcategory</a>
            <a class="nav-item nav-link" href="/category/productinterface">Products</a>
           
          </div>
        </div>
      </nav>
    <div class="root">
        
        <div class="base">
            <div class="row gap" >
                <div style="margin-left: 20px; font-size: 20px;font-weight: bolder;font-family: Georgia, 'Times New Roman', Times, serif;">
                    Add Category
                </div>
    
                <div class="col btn btn-danger " style="text-align:right;margin-left:250px;">
                    <a href="/category/displaycategory" > Display Category</a>
                </div>  
            </div> 
    
    <form action="/category/categorysubmit" method="post">
        <div class="form-row">
          <div class="col">
            <input type="text" class="form-control" name="category" placeholder="Category">
          </div>
         </div>
         <div class="form-row" style="margin-top: 30px;">
            <div class="col">
              <input type="submit" class="btn btn-info" placeholder="Add Category">
            </div>
            </div>
            <div class="form-row" style="margin-bottom: 10px;">
                <div class="col">
                  <%=message%>
                </div>
                </div>
      </form>
      </div>
      </div>
</body>
</html>